:root {
  /* COLOR PALETTE */
  --rc-color-n-050: #f6f6f6;
  --rc-color-n-300: #c4c4c4;
  --rc-color-n-500: #151415;

  /* BACKGROUND COLOR */
  --rc-color-background: var(--rc-color-n-050);

  /* TYPOGRAPHY COLOR */
  --rc-color-typography-heading: var(--rc-color-n-500);
  --rc-color-typography-body: var(--rc-color-n-500);
  --rc-color-typography-price: var(--rc-color-n-300);

  /* TYPOGRAPHY */
  --rc-typography-typeface: 'Lato', sans-serif;

  /* FONT SIZE */
  --rc-typography-h1: 1.9rem;
  --rc-typography-h2: 1.5rem;
  --rc-typography-h3: 1.2rem;
  --rc-typography-p: 0.8rem;

  /* LETTER SPACING */
  --rc-typography-heading-spacing: 0.5rem;
  --rc-typography-content-spacing: 0.1rem;

  /* GAP */
  --rc-gap: 1.5rem;

  /* PADDING */
  --rc-section-padding: 1.5rem 0;
  --rc-btn-padding: 0.5rem 2rem;

  /* BORDER */
  --rc-border: 0.12rem solid var(--rc-color-n-050);

  /* SIZING */
  --rc-image-height: 18rem;
}

/* RESET */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--rc-color-background);
  color: var(--rc-color-typography-body);
  font-family: var(--rc-typography-typeface);
  font-size: var(--rc-typography-p);
  font-weight: 400;
  letter-spacing: var(--rc-typography-content-spacing);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--rc-color-typography-body);
  text-decoration: none;
}

.cr-logo {
  width: 40px;
  height: 40px;
}

.cr-icons {
  width: 25px;
  height: 25px;
}

h1,
h2 {
  color: var(--rc-color-typography-heading);
  letter-spacing: var(--rc-typography-heading-spacing);
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

h1 {
  font-size: var(--rc-typography-h1);
}

h2 {
  font-size: var(--rc-typography-h2);
}

li {
  list-style-type: none;
}

.cr-button {
  border: var(--rc-border);
  color: var(--rc-color-n-050);
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  padding: var(--rc-btn-padding);
  transition: all 0.3s ease-in-out;
}

.cr-button:hover {
  background-color: var(--rc-color-n-050);
  color: var(--rc-color-n-500);
}

/* LAYOUT */
.cr-layout-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cr-layout-flex__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

/* HEADER */
.cr-section-header-layout {
  justify-content: space-around;
  text-transform: uppercase;
  min-height: 10vh;
  padding: var(--rc-section-padding);
}

.cr-section-header-nav {
  gap: var(--rc-gap);
}

.cr-section-header-nav-right {
  gap: 0.7rem;
}

.cr-section-header--nav-link {
  display: flex;
  flex-direction: column;
}

.cr-section-header--nav-link::after {
  content: '';
  width: 0px;
  height: 2px;
  background-color: var(--rc-color-typography-body);
  position: relative;
  top: 5px;
  transition: all 0.4s ease-in-out;
}

.cr-section-header--nav-link:hover::after {
  width: 100%;
}

/* HIDE HAMBURGER */
.cr-hamburger-label,
.cr-hamburger {
  display: none;
}

@media screen and (max-width: 48rem) {
  /* VERTICAL DISPLAY */
  .cr-section-header-layout {
    flex-direction: column;
  }

  /* SHOW HAMBURGER ICON */
  .cr-hamburger-label {
    display: inline-block;
    color: var(--rc-color-typography-body);
    font-style: normal;
    font-size: var(--rc-typography-h1);
    padding: 0.6rem;
  }
  /* TOGGLE SHOW/HIDE NAV */
  .cr-section-nav {
    display: none;
  }

  /* WHEN CHECKED -> GENERAL SIBLING COMBINATOR */
  .cr-hamburger:checked ~ .cr-section-nav {
    display: block;
    padding: var(--rc-section-padding);
  }
  /* COLUMN NAV ITEMS */
  .cr-section-header-nav {
    flex-direction: column;
  }

  .cr-section-header-nav-right {
    flex-direction: row;
  }
}

/* HERO */
.cr-section-hero {
  overflow: hidden;
  margin-bottom: 2rem;
}

.cr-section-hero--banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FEATURED ITEMS */
.cr-section-featured {
  flex-direction: column;
  padding: var(--rc-section-padding);
}

.cr-section-featured__gallery {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 80vw;
  padding: 2rem;
}

.cr-card {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  height: 350px;
  overflow: hidden;
  width: 250px;
}

.cr-card > figure {
  width: 90%;
  margin: 20px auto 0 auto;
}

.cr-card > figure > img {
  width: 100%;
}

.cr-card-details {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 10px 30px 10px;
  position: absolute;
  top: 85%;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out, top 0.3s ease-in-out;
}

.cr-card:hover {
  border: 1px solid #192a56;
}

.cr-card:hover img {
  transform: rotate(-20deg);
}

.cr-card:hover .cr-card-details {
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
  top: 65%;
}

.cr-card-details > .cr-card-min-details {
  margin-bottom: 20px;
  display: flex;
  line-height: 1.2rem;
  justify-content: space-between;
}

.cr-card-details > .cr-card-min-details > h1 {
  color: #7b7b7b;
  display: block;
  font-size: 0.75rem;
  font-weight: 700;
  max-width: 65%;
  letter-spacing: 0.2rem;
}

.cr-card-details > .cr-card-min-details > h1 > span {
  color: #7b7b7b;
  display: block;
  font-size: 0.6rem;
  font-weight: 700;
}

.cr-card-details-btn {
  background-color: #192a56;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cr-card-details-btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.cr-section-featured__article {
  flex-direction: column;
}

.cr-section-featured--preview {
  width: auto;
  height: var(--rc-image-height);
}

.cr-section-featured--price {
  color: var(--rc-color-typography-price);
}

/* VIDEO */
.cr-section-video {
  flex-direction: column;
  height: 35vh;
  overflow: hidden;
}

.cr-section-video__description {
  flex-direction: column;
  position: absolute;
  text-align: center;
  gap: var(--rc-gap);
  /* CON Z INDEX COLOCAMOS +1 LA DESCRIPCION POR ENCIMA DEL VIDEO */
  z-index: 1;
}

/* FOOTER */

.cr-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
  height: 5vh;
}

.cr-footer {
  background-color: var(--rc-color-n-500);
  padding: 20px 0 20px;
  font-size: 12px;
  color: var(--rc-color-n-050);
}
.cr-footer a {
  color: var(--rc-color-n-050);
}
.cr-footer a:hover {
  color: #c13737;
  text-decoration: none;
}

.cr-footer .cr-footer-container-right__social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #33353d;
}

.cr-footer-container-right__social-icons li {
  display: inline-block;
}

.cr-footer-container-right__social-icons a {
  display: inline-block;
  line-height: 44px;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cr-footer-container-right__social-icons a > img {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.cr-footer-container-right__social-icons a.cr-social-icons-facebook:hover {
  background-color: #3b5998;
}
.cr-footer-container-right__social-icons a.cr-social-icons-twitter:hover {
  background-color: #00aced;
}
.cr-footer-container-right__social-icons a.cr-social-icons-github:hover {
  background-color: #007bb6;
}
.cr-footer-container-right__social-icons a.cr-social-icons-instagram:hover {
  background-color: #ea4c89;
}

/* MEDIA QUERIES */

@media screen and (max-width: 48rem) {
  :root {
    --rc-typography-h2: calc(1.5rem / 1.5);
  }

  .cr-section-hero {
    height: 20vh;
    overflow: hidden;
  }

  .cr-section-hero--banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: -600px -60px;
    /* animation: zoomBanner 3s; */
  }

  .cr-section-featured > h2 {
    margin: -2.5rem;
  }

  #running {
    margin: 0px;
    margin-bottom: -2rem;
  }

  .cr-section-video {
    flex-direction: column;
    height: 40vh;
    overflow: hidden;
  }

  .cr-section-featured {
    margin: 0;
  }

  .cr-section-featured__gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin-top: 2rem;
  }

  .cr-footer-container {
    display: flex;
    height: 15vh;
    text-align: center;
  }

  .cr-footer-container-right__social-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 0.2rem;
  }
}
